.navbar-default {
    background-color: #2a231f!important;
}

.logo {
    /*text-transform: uppercase;*/
}

.title {
    text-transform: capitalize;
}
.w3_banner {
    background: url(/Views/Asset/Images/bg4.jpg)no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 475px;

}

.w3_bannerinfo p {
     width: auto;
}

.w3_bannerinfo {
    margin-top: 80px;
}

select#color, select#order, select#seats {
    color: #fff;
    font-size: 15px;
    background-color: transparent;
    /*width: 15%;*/
    box-sizing: border-box;
    border: 1px solid #fff;
    font-weight: 600;
    padding: 8.4px;
    letter-spacing: 2px;
    outline: none;
}