.header {
    background-color: #2c3742!important;

}

.logo-img {
    width: 153px;
}


.title-box {
    display: block;
    width: 100%;
    padding-bottom: 20px;
    margin-bottom: 10px;
    border-bottom: 1px solid #EFEFF8;
    float: inherit;
}

.title {
    font-size: 19px;
    border-radius: 5px!important;
    padding: 7px!important;
}

.option-box {
    margin-top: 10px!important;
}

.panel-heading>.panel-title, .content-box-header .panel-title {
    padding: 0!important;
}

th.sorting {
    background: #ececec;
    text-transform: capitalize!important;
}

.dataTables_wrapper .col-sm-12 {
    padding: 0!important;;
}

.dataTables_filter ,.pagination{
    float: right!important;
}

.notification-wrapper .n-success {
    color: #ffffff;
}

.notificationMessageSuccess , .notificationMessageError{
    color: #ffffff!important;
    font-weight: bold;

}

.n-error {
    background: #ff0000!important;
}

.n-success {
    background: #5cb85c!important;
}

.notificationMessageError {
    /*color: #ffffff!important;*/
    /*font-weight: bold;*/
}
